* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 50px;
    width: 50vw;
    height: 50vh;
}

/* .hw {
    width: 100%;
    height: 50%;
} */
/* #b1 {
    height: 20vh;
    background-color: rgb(34, 170, 45);
    color: white;
    font-size: larger;
}
#b1:hover {
    background-color: #115517;
}

#b2 {
    color: white;
    height: 20vh;
    background-color: rgb(34, 170, 45);
    margin-top: 10vh;
    font-size: larger;
}

#b2:hover {
    background-color: #115517;
} */

.hw_button {
    color: white;
    height: 30vh;
    background-color: rgb(34, 170, 45);
    margin-top: 5vh;
    font-size: larger;
}

.hw_button:hover {
    background-color: #115517;
}