* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Calibri;
}

body {
  color: white;
  background-color: black;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
  background-color: greenyellow;
  clip-path: url(#clipPath);
}

.curve {  
  width: 200px;
  height: 200px;
  background-color: greenyellow;
  clip-path: url(#clipPath);
}

.pink {
  background-color: pink;
}

.skyblue {
  background-color: skyblue;
}
