* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  overflow: clip;
}

.container {
  position: absolute;
  top: 20%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  position: absolute;
  background-color: transparent;
  width: calc(var(--i) * 2.5vmin);
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid rgb(0, 255, 13);
  transform-style: preserve-3d;
  transform: rotateX(70deg) translateZ(50px);
  animation: move 3s ease-in-out calc(var(--i) * 0.08s) infinite;
  box-shadow: 
  0 0 15px rgb(124, 124, 124),
  inset 0 0 15px rgb(124, 124, 124);
}

@keyframes move {
  0%, 100% {
    transform: rotateX(70deg) translateZ(50px) translateY(0);
    filter: hue-rotate(0);
  }
  50% {
    transform: rotateX(70deg) translateZ(50px) translateY(-30vmin);
    filter: hue-rotate(360deg);
  }
}