* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(46, 46, 46);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container table {
  border: 1px solid red;
  color: black;
}

.container table td {
  width: 50px;
  height: 50px;
  background-color: white;
  text-align: center;
  user-select: none;
}

.game-state {
  background-color: black;
  color: white;
  position: absolute;
  top: 2rem;
  z-index: 1;
  font-family: Calibri;
  font-size: 2rem;
}

#gameState {
  color: lime;
  font-size: 2rem;
}

.reset {
  padding: 10px;
  background-color: #131317;
  color: red;
  position: absolute;
  z-index: 1;
  top: 2rem;
  right: 2rem;
}